<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Walk the dog</string>
	<string>URGENT:Buy muilk</string>
	<string>Clean hidden lair</string>
	<string>Invent miniature dolphins</string>
	<string>Find new henchmen</string>
	<string>Get renge on do-gooder heroes</string>
	<string>URGENT:Fold laundry</string>
	<string>Hold entire world hostage</string>
	<string>Manicure</string>
</array>
</plist>
